body {
    background-color: #777;
    color: aqua
}

/* style.css */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

img {
    gap: 100px;
    padding-left: 10px;
    width: 25%;
    /* ajuste a largura conforme necessário */
    height: auto;
    animation: rotate 10s linear infinite;
    /* adicione uma animação de rotação */
}

@keyframes rotate {
    from {
        transform: rotate(-100deg);
    }

    to {
        transform: rotate(100deg);
    }
}